*{
    box-sizing: border-box;
    margin: 0%;
}
#hel{
    background-color: bisque;
 
}
h1{
    text-align: center;
}
h1:hover{
    text-shadow: 2px 2px 2px red;
}

.img1{
   display: block;
   margin-right: auto;
   margin-left: auto;
   width: 50%;
   height: 200px;
   width: 200px;
   border-radius: 50%;
   border: 2px solid green;
}
.img1:hover{
    box-shadow: 10px 10px 10px black;
}
#hi{
    text-align: center;

}
#hei{
    display: block;
}
#div1{
    background-color: rgb(36, 151, 36);
    text-align: center;
    border: 2px solid gold;
}
#div2{
    background-color: rgb(36, 151, 36);
    text-align: center;
    border: 2px solid gold;
}
#div3{
    background-color: rgb(36, 151, 36);
    text-align: center;
    border: 2px solid gold;
}
#div4{
    background-color: rgb(36, 151, 36);
    text-align: center;
    border: 2px solid gold;
}
img{
 display: block;
 width: 50%;
 height: 300px;
 width: 300px;
 margin-left: auto;
 margin-right: auto;
border: 2px solid black;
}
img:hover{
 box-shadow: 20px 20px 20px tomato;
}